@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500');

// Update Bulma's global variables
$family-sans-serif: "Montserrat", sans-serif;
$primary: #9e15bf;
$info: #41bfca;
$link: rgb(228, 201, 52);
$warning: #93a7aa;
$size-1: 4rem;
$size-2: 2.5rem;
$size-3: 2rem;
$size-4: 1.75rem;
$size-5: 1.5rem;
$size-6: 1.25rem;
$size-7: 1rem;

$box-background-color: $primary;


// Other variables
$background-neutral: #F2F2F2;

// Background
.has-background-default {
  background: linear-gradient(to bottom right,#F2F2F2, #F4F4F4)
}

// Gives timer and score a fixed width
#timer {
  min-width: 234px;
}

#score {
  min-width: 124px;
}

// Sets length of fade-in animations
.animated {
  animation-duration: 0.5s;
}
// Bulma files used
    @import "../node_modules/bulma/sass/utilities/_all.sass";
    @import "../node_modules/bulma/sass/base/_all.sass";
    @import "../node_modules/bulma/sass/elements/button.sass";
    @import "../node_modules/bulma/sass/elements/container.sass";
    @import "../node_modules/bulma/sass/elements/title.sass";
    @import "../node_modules/bulma/sass/grid/columns.sass";
    @import "../node_modules/bulma/sass/components/navbar.sass";
    @import "../node_modules/bulma/sass/layout/hero.sass";
    @import "../node_modules/bulma/sass/layout/section.sass";
    @import "../node_modules/bulma/sass/components/level.sass";